@top-bar-height: 46px;

.cover-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
}

.operate-top-bar {
    height: @top-bar-height;
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.03);
    position: relative;
    z-index: 1000;

    .operate-top-bar-container {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }
}

.operate-area {
    height: calc(100vh - @top-bar-height);

    .move-area {
      height: 100%;
      display: flex;
      align-items: center;

      .children-container {
        width: 100%;
        background-color: #fff;
      }
    }
}
